<nav>
    <ul id="nav-list">
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/{{matricula}}/">{{nombre}} {{apellido}}</a></li>
        {{/each}}
    </ul>
</nav>