<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="/paginas/style.css">
</head>
<body>
    <div class="panel-inicio">
            <h1 class="titulo">{{home.titulo}} - {{home.nombre}}</h1>
    </div>
    <div class="container">
        <h2 class="nombres">{{home.descripcion}}</h2>
        {{> nav }}
    </div>
    <div class="imagen">
        <img class="logo" src="{{home.src}}" alt="{{home.alt}}">
        <a href="{{curso.href}}">{{curso.nombre}}</a> | <a href="{{wordCloud.href}}">{{wordCloud.nombre}}</a>
    </div>
    {{> footer}}

</body>
</html>